<div class="col-md-4">
  <h1>Search for a house!</h2>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="zillowCall()">
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" name="location" ng-mode=''>
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" name="location">
    </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Search!</button>
      </div>
  </form>

  <br><br><br><br><br>
  <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40.gif" width="150"
  © Zillow, Inc., 2006-2014. Use is subject to Terms of Use
What's a Zestimate?
</div>
