






  <h1>Search for a house!</h2>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="zillowScrape()">
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" name="location" ng-model='location'>
    </div>
    <div class="form-group">
      <label>Min Price</label>
      <input type="text" class="form-control" name="location" ng-model='minPrice'>
    </div>
    <div class="form-group">
      <label>Max Price</label>
      <input type="text" class="form-control" name="location" ng-model='maxPrice'>
    </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Search!</button>
      </div>
  </form>
</br>
</br>


<div id="googleMap" style="width:600px;height:500px;"></div>

  <div><h1>Search Results</h1></div>
      <table class="table table-striped">
        <thead>
      <tr>
        <td>
          ADDRESS
        </td>
      </tr>
    </thead>
      <tbody>
       <tr ng-repeat='listing in listings track by $index'>
        <td>{{listing}}</td>
        <td><button ng-click="selectListingForZillowCall(listing)" class='btn btn-primary'><span class='glyphicon glyphicon-plus'>Show Info</span></button></td>


        </tr>
      </tbody>
      <button ng-click="keepAnEyeOnArea()" class='btn btn-primary'><span class='glyphicon glyphicon-plus'></span>Keep an eye on this area!</button>

      </br></br></br>
       <button ng-click="demoListingsFn()" class='btn btn-primary'><span class='glyphicon glyphicon-plus'></span>Demo Notification</button>
    </table>

    <div>{{moreInfoHouse}}</div>
