<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>RoadRunner</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.css">
  <link href="./public/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./public/style.css">
  <link rel="stylesheet" type="text/css" href="./public/css/owl.carousel.css">
  <!-- // <script src="./public/js/jquery.quovolver.min.js"></script> -->
  <!--[if lt IE 9]-->
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <!--[endif]-->
</head>
<body ng-controller='zillowCtrl'>
  <!--header starts-->
  <header class="main-header">
    <div class="backbg-color">
      <div class="navigation-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!--navigation starts-->
              <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#"><span class="grey">Road</span>Runner</a>
               </div>
               <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#listed">Listing</a></li>
                  <li><a href="#agents">Agents</a></li>
                  <li><a href="#gallery">Gallery</a></li>
                  <li><a href="#news">News</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
            </nav>
            <!--navigation ends-->
          </div>
        </div>
      </div>
    </div>
    <!--banner starts-->
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="banner-info text-center">
            <h2><span class="grey">Road Runner</span> - Real Estate</h2>
          </div>
          <div class="banner-heading text-center">
            <h3>Quick Search For Your New Home.</h3>
          </div>
          <div class="banner-search col-md-offset-2 col-md-8 col-md-offset-2">
            <div class="col-md-3">
              <input placeholder='Minimum Price' type="text" class="form-control sellone" ng-model='minPrice'>
            </div>
            <div class="col-md-3">
              <input placeholder='Maximum Price' type="text" class="form-control sellone" ng-model='maxPrice'>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control selltwo" ng-model='location' placeholder="Denver, CO">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-btn">
                <button ng-click="zillowScrape()" type="submit">Search</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- HERE IS WHERE THE SPA STARTS -->


  </br>
  <div ng-show='notShowing' class="banner-text">
    <div class="container">
      <div class="row">
  <h1>Search Results</h1>
        <div class="banner-search col-md-12" style='margin-top: -200px'>


          <div class='container'>
          <div class="row" >
            <div class='col-md-6'>
              <div id="googleMap" style="width:560px;height:500px;"></div>
              <div class="col-md-6">
                <div class="form-btn">
                  <button ng-click="keepAnEyeOnArea()">Keep an eye on this area</button>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-btn">
                 <button ng-click="demoListingsFn()">Demo Notification</button>
               </div>
             </div>

           </div>


           <div class='col-md-6 slide-box'>
            <table class="table">

              <tbody>
               <tr ng-repeat='listing in listings track by $index'>

                <td>{{listing}}</td>

                <td>
                <span class='col-lg-12'>
                  <span class="form-btn"><button ng-click="selectListingForZillowCall(listing)">&nbsp;&nbsp;&nbsp;&nbsp;Show&nbsp;&nbsp;Info&nbsp;&nbsp;&nbsp;&nbsp;</button></span></span></td>
                </tr>
              </div>

            </div>
          </tbody>
        </table>



        <div>HEY THERE{{moreInfoHouse}}</div>


        <div class="col-md-6 form-btn text-center">
          <div ng-view></div>
        </div>


      </div>
    </div>
  </div>
</div>
</div>

</div>
<!-- WHERE THE TRANSPARENT COLUMN ENDS -->


  <!-- </div>
</div>
</div>
</div> -->
<!--banner ends-->
</header>
<!--header ends-->
<section class="intro-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-text text-center">
          <h3>We Can Help You Find Your Dream Home</h3>
          <p>let us know what you're looking for and we can help you.<span style="display:block;">Beautiful homes at affordable prices.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--listing section-->
<section class="feature" id="listed">
  <div class="container">
    <div class="row">
      <div class="fea-head">
        <div class="col-md-12">
          <div class="sec-head">
            <h2>Listed <span>Properties</span></h2>
            <hr></hr>
          </div>
        </div>
        <div class="feature-slider col-md-12">
          <div id="owl-demo">
            <div class="item">
              <img src="img/fea1.jpg" alt="Owl Image">
              <div class="img-info">
                <h4>Louisville, CO</h4>
              </div>
            </div>
            <div class="item">
              <img src="img/fea2.jpg" alt="Owl Image">
              <div class="img-info">
                <h4>Boulder, CO</h4>
              </div>
            </div>
            <div class="item">
              <img src="img/fea3.jpg" alt="Owl Image">
              <div class="img-info">
                <h4>Aravada, CO</h4>
              </div>
            </div>
            <div class="item">
              <img src="img/fea4.jpg" alt="Owl Image">
              <div class="img-info">
                <h4>Lafayette, CO</h4>
              </div>
            </div>
            <div class="item">
              <img src="img/fea5.jpg" alt="Owl Image">
              <div class="img-info">
                <h4>Lakewood, CO</h4>
              </div>
            </div>
            <div class="item">
              <img src="img/fea6.jpg" alt="Owl Image">
              <div class="img-info">
                <h4>Denver, CO</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--agents section starts-->
<section class="agent" id="agents">
  <div class="backbg">
    <div class="container">
      <div class="row">
        <div class="agent-sec">
          <div class="col-md-12">
            <div class="sec-head">
              <h2>Meet Your Software Developers ... I mean <span>Agents</span></h2>
              <hr></hr>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="agent-one">
              <div class="agent-img col-md-6 col-sm-12 col-xs-12 text-left">
                <img src="img/johnnygithub.jpeg" class="img-responsive">
              </div>
              <div class="agent-info col-md-6 col-sm-12 col-xs-12 text-">
                <h3>Johnny Lamb</h3>
                <h4>Road Runner Real Estate Group</h4>
                <h5><a href="https://github.com/JohnnyLamb?tab=repositories">Agnusjack@gmail.com</a></h5>

                <p>Mobile: (303) 513 5606</p>
                <ul class="agent-social">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="agent-one">
              <div class="agent-img col-md-6 col-sm-12 col-xs-12">
                <img src="img/gSchool profile pic.jpg" class="img-responsive">
              </div>
              <div class="agent-info col-md-6 col-sm-12 col-xs-12 text-left">
                <h3>John Allen Lamb</h3>
                <h4>Road Runner Estate Group</h4>
                <h5><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">My linkedIn Profile</a></h5>
                <p>Office: (303) 513 5606</p>

                <ul class="agent-social">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--agents section starts-->
  <section class="works" id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sec-head">
            <h2>My Previous <span>Works</span></h2>
            <hr></hr>
          </div>
        </div>
        <div class="work-sec">
          <div class="col-md-12 fil-btn">
            <div class="filter col-md-3 col-sm-3 col-xs-3 wrk-title active" data-filter="all">Show All</div>
            <div class="filter col-md-3 col-sm-3 col-xs-3 wrk-title" data-filter=".category-1">New York</div>
            <div class="filter col-md-3 col-sm-3 col-xs-3 wrk-title" data-filter=".category-2">Califonia</div>
            <div class="filter col-md-3 col-sm-3 col-xs-3 wrk-title lst-cld" data-filter=".category-3">Seatle</div>
          </div>
          <div id="Container">
            <div class="filimg mix category-1 category-3 col-md-4 col-sm-4 col-xs-12" data-myorder="2">
              <img src="img/fea1.jpg">
              <div class="img-hover">
                <h3>Resort</h3>
              </div>
            </div>
            <div class="filimg mix category-2 col-md-4 col-sm-4 col-xs-12" data-myorder="4">
              <img src="img/fea2.jpg">
              <div class="img-hover">
                <h3>Hotel</h3>
              </div>
            </div>
            <div class="filimg mix category-1 col-md-4 col-sm-4 col-xs-12" data-myorder="1">
              <img src="img/fea3.jpg">
              <div class="img-hover">
                <h3>Masion</h3>
              </div>
            </div>
            <div class="filimg mix category-2 category-3 col-md-4 col-sm-4 col-xs-12" data-myorder="8">
              <img src="img/fea4.jpg">
              <div class="img-hover">
                <h3>House</h3>
              </div>
            </div>
            <div class="filimg mix category-2 col-md-4 col-sm-4 col-xs-12" data-myorder="8">
              <img src="img/fea5.jpg">
              <div class="img-hover">
                <h3>Villa</h3>
              </div>
            </div>
            <div class="filimg mix category-2 category-3 col-md-4 col-sm-4 col-xs-12" data-myorder="8">
              <img src="img/fea6.jpg">
              <div class="img-hover">
                <h3>School</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--news section-->
  <section class="news" id="news">
    <div class="container">
      <div class="row">
        <div class="news-sec">
          <div class="col-md-12">
            <div class="sec-head">
              <h2>Breaking <span>News</span></h2>
              <hr></hr>
            </div>
          </div>
          <div class="news-colm">
            <div class="col-md-4">
              <div class="news-itm">
                <h4>We Fullfill Your Dream</h4>
                <hr class="news-line"></hr>
                <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                <a href="#" class="nws-btn">Read More</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="news-itm">
                <h4>We Fullfill Your Dream</h4>
                <hr class="news-line"></hr>
                <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                <a href="#" class="nws-btn">Read More</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="news-itm">
                <h4>We Fullfill Your Dream</h4>
                <hr class="news-line"></hr>
                <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                <a href="#" class="nws-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--news section-->
  <!--   <section class="contact" id="contact">
      <div class="container">
        <div class="contact-info">
          <div class="col-md-12">
            <div class="col-md-8">
              <div class="cont-txt">
                <h3>Contact Me to Sign Up for an Open House</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula dapibus mauris.</p>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <a href="#" class="cont-btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="appoin-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-sec text-center">
              <h2>Interested in Hiring Me ?</h2>
              <p>You're in luck. Below is my contact info.</p>
              <p>My Name is Johnny Lamb.</p>
              <a href="mailto:agnusjack@gmail.com"><i class="fa fa-book"></i>Email Me at agnusjack@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row text-center">
          <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook" id="blue"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" id="red"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" id="light-blue"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" id="blue"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <section class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>2015 &copy; All Rights Reserved. Designed By <a href="http://www.html5layouts.com">HTML5LAYOUTS</a> using <a href="https://pixabay.com">freedigitalphotos</a> and <a href="https://picjumbo.com">picjumbo</a> images</a> | <a href="http://vectortoons.com/">Get Vector Graphics</a></p>
          </div>
        </div>
      </div>
    </section>
    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/jquery-1.11.3.min.js"></script>
    <script src="./public/js/jquery-1.9.1.min.js"></script>
    <script src="./public/js/owl.carousel.js"></script>
    <script src="./public/js/jquery.mixitup.js" type="text/javascript"></script>
    <script type="text/javascript" src="./public/js/jquery.quovolver.js"></script>


    <!-- my old scripts -->


    <!-- // <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <!-- // <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script src="./main.js"></script>
    <script src="./services.js"></script>
    <script src="./controllers.js"></script>
    <script src="./authController.js"></script>

    <!--for smooth scrolling-->
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
    <!--demo-->
    <script>
      $(document).ready(function() {
        $("#owl-demo").owlCarousel({
          autoPlay: 4000,
          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]
        });

      });

    </script>

    <script type="text/javascript">


      $(document).ready(function() {

        var owl = $("#owl-demo");

        owl.owlCarousel();

          // Custom Navigation Events
          $(".next").click(function(){
            owl.trigger('owl.next');
          })
          $(".prev").click(function(){
            owl.trigger('owl.prev');
          })

        });




    </script>

    <script type="text/javascript">
      $(function(){

      // Instantiate MixItUp:

      $('#Container').mixItUp();

    });
    </script>
    <script>
      jQuery(function ($) {
        // fancybox
        // $(".fancybox").fancybox({
        //     modal: true, // disable regular nav and close buttons
        //     // add buttons helper (requires buttons helper js and css files)
        //     helpers: {
        //         buttons: {}
        //     }
        // });
        // filter selector
        $(".filter").on("click", function () {
          var $this = $(this);
            // if we click the active tab, do nothing
            if ( !$this.hasClass("active") ) {
              $(".filter").removeClass("active");
                $this.addClass("active"); // set the active tab
                // get the data-rel value from selected tab and set as filter
                var $filter = $this.data("rel");
                // if we select view all, return to initial settings and show all
                $filter == 'all' ?
                $(".fancybox")
                .attr("data-fancybox-group", "gallery")
                .not(":visible")
                .fadeIn()
                : // otherwise
                $(".fancybox")
                .fadeOut(0)
                .filter(function () {
                        // set data-filter value as the data-rel value of selected tab
                        return $(this).data("filter") == $filter;
                      })
                    // set data-fancybox-group and show filtered elements
                    .attr("data-fancybox-group", $filter)
                    .fadeIn(1000);
            } // if
        }); // on
    }); // ready
</script>
<!--texitimonial-->
<script>


   // $('.quotes').quovolver({
   //    equalHeight   : true
   //  });

</script>

</body>
</html>


